body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  width: 100px;
  height: 100px;
  font-size: 40px;
  color: black;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

/* Different colors for illustration */
.red {
  background-color: red;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}
